<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <p>Découvrez en un minimum de tour le nombre qui se cache derrière la carte mystère</p>
      <form method="post" action="/">
        <div class="mb-3">
          <h2><%= lastNumberInput%></h2>
          <div>Quel nombre se cache derrière le nombre mystère ?</div>
          <input
            id="userInput"
            name="userInput"
            class="form-control"
            type="number"
            placeholder="?"
            inputmode="numeric"
            pattern="[0-9]*"
            autofocus
          />
          <button class="btn btn-primary" type="submit">J'ai trouvé</button>
        </div>
      </form>
    </main>
  </body>
</html>
