<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des pays</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="container">
    <h1>My countries</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Pays</th>
            </tr>
        </thead>
        <tbody>
            <% countries.forEach( (country)=> { %>
                <tr>
                    <td>
                        <%= country.name %>
                    </td>
                    <td>
                        <a href="/countries/<%= country.uuid %>/cities">Liste des villes du pays</a>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <a href="/cities">Liste des villes</a>
</body>